.tableau {
    display: flex;
    flex-direction: column;
}

.cardJour {
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 10vh;
    padding: 3vh;
    background-color: lightgray;
    border: solid 5px black;
    border-radius: 25px;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.card {
    margin: 1vh;
    padding: 2vh;
    background-color: lightgray;
    border: solid 5px black;
    border-radius: 25px;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    font-size: 10vh;
    text-shadow: 5px 10px 3px rgba(0, 0, 0, 0.5);
}