.container1{
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
}

.weather-icon{
  font-size: 10em;
}

.weather-info{
  font-size: 1.5em;
}

h2{
  text-align: center;
  font-size: 3em;
}