.container1{
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
  box-shadow: 10px 5px 5px rgb(189, 187, 187);
}

.weather-icon{
  font-size: 10em;
}

.weather-info{
  font-size: 1.5em;
}

h2{
  text-align: center;
  font-size: 3em;
}

.hourly-forecast{
   /* Définir une hauteur maximale et activer la barre de défilement en cas de dépassement */
   max-height: 300px; /* Ajustez cette valeur selon vos besoins */
   overflow-y: auto; /* Active la barre de défilement verticale en cas de dépassement */
  width: 50em;
  height: 30em;
  margin: auto;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  justify-content: center;
  color: white;
  box-shadow: 10px 5px 5px rgb(189, 187, 187);
  display: flex;
  flex-wrap: nowrap;
}

.hourly-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5em;
  padding-right: 5em;
  margin: auto;
  font-size: large;
  border-radius: 12px;


}