body{
  background-color: rgba(164, 168, 168, 0.164);
  font-family: 'Roboto', sans-serif;
}

h1{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 5em;
  box-shadow: 10px 5px 5px rgb(189, 187, 187);
}

.GetMeteoWeek{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.GetMeteo{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .weather-icon {
    font-size: 36px;
  }

  .weather-info {
    font-size: 14px;
  }

  .GetMeteo{

  }

  .GetMeteoWeek{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}